<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 등록</title>
</head>
<body>

<h1>회원 등록</h1>
<form th:action="@{/member/insert}" method="post" th:object="${memberDto}">
    <div>
        <label>이름</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>나이</label>
        <input type="number" th:field="*{age}" min="1" max="100">
    </div>
    <div>
        <label>주소</label>
        <input type="text" th:field="*{addr}">
    </div>
    <input type="submit" value="등록">
</form>

<a th:href="@{/member/view}">목록으로 돌아가기</a>

</body>
</html>